@import "bootstrap/bootstrap";

@import "utils";

@import "layouts/header";
@import "layouts/sidebar";

@import "components/progressbar";
@import "components/buttons";
@import "components/searchbar";

html {
  max-width: 1600px;
  margin: auto;
}

.post-preview {
  .logo {
    margin-bottom: 1rem;
  }

  .image {
    img {
      width: 100%;
      margin-bottom: 2rem;
      border-radius: 10px;
      margin-right: 1rem;
    }
  }

  .content {

    .headings {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .stats {

      img {
        width: 80px;
      }

    }
  }
}

.organizations-list {
  & .organizations-preview:nth-child(odd) {
    padding-right: 1rem !important;
  }

  & .organizations-preview:nth-child(even) {
    padding-left: 1rem !important;
  }
}


// Components
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;

  .tag {

    a,
    a:visited,
    a:link {
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      border-radius: 10px;
      margin: 0.2rem 0.4rem;
      padding: 0.2rem 0.8rem;
      font-size: 0.6rem;
      background-color: #b57731;
      color: $white;
    }
  }
}


// Cards
.stat-card {
  .label {
    font-weight: normal !important;
  }
}