@import "bootstrap/bootstrap";

@import "utils";

@import "layouts/header";
@import "layouts/sidebar";

@import "components/progressbar";
@import "components/spinloader";
@import "components/notifiers";
@import "components/buttons";
@import "components/inputs";
@import "components/searchbar";
@import "components/posts";
@import "components/modal";

html {
  // max-width: 1600px;
  margin: auto;
}

// ---------------------------------------------
.body-title {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: center;

  .image-container {
    width: 50px;
    margin-right: 1rem;

    img {
      width: 100%;
    }
  }

}

// ---------------------------------------------
// events
.event-image{
  img{
    width: 100%;
  }
}
// ---------------------------------------------


.container-common {
  margin-bottom: 2rem;
  background-color: $off-white;
  border-radius: 10px;

  @each $color,
  $value in $colors {

    .header-#{$color} {

      button,
      a,
      a:link,
      a:visited {
        text-decoration: none;
      }

      h4 {
        background-color: $value;
        color: $white;
        padding: 0.5rem 1rem;
        text-decoration: none;
        display: block;
        width: 100%;
        outline: none;
        border: none;
        font-weight: bold;
        border-radius: 10px;
        text-align: left;
        margin-bottom: 0;

        &:hover {
          background-color: darken($color: $value, $amount: 2);
        }
      }
    }
  }

  .body {
    padding: 1rem;
  }
}

// ---------------------------------------------


.organizations-list {
  .organizations-preview {
    text-align: center;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

    .categories {
      justify-content: center;
    }
  }
}


// Components
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;

  .tag {

    a,
    a:visited,
    a:link {
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      border-radius: 10px;
      margin: 0.2rem 0.4rem;
      padding: 0.2rem 0.8rem;
      font-size: 0.6rem;
      background-color: #b57731;
      color: $white;
    }
  }
}


// Cards
.stat-card {
  .label {
    font-weight: normal !important;
  }
}

// Table

table {
  width: 100%;

  th {
    background-color: $off-white
  }

  th,
  td {
    padding: 0.25rem 0.5rem;
    // border-right: 1px solid $font-color;
    // border-left: 1px solid $font-color;
  }
}