.sidebar {


  .button-container {
    display: flex;
    flex-direction: row;

    .btn {
      flex: 1;
    }
  }

  .profile-nav {
    ul{
      margin: 0;
      padding: 0;
      list-style: none;
      li{
        margin: 0;
        list-style: none;
        a{
          text-decoration: none;
          color: $font-color;
        }
      }
    }
  }

}